@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v16/z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7auh.ttf) format('truetype');
}
body {
  background-color: #ffffff;
  color: #000000;
}
a,
a:hover,
a:visited {
  text-decoration: underline;
  color: #000000;
}
.container {
  margin-top: 100px;
}
main {
  height: fit-content;
  background-color: #ffffff;
  box-shadow: #00000033 0px 4px 16px;
  border-radius: 15px;
  padding: 60px 40px 40px;
}
main .row {
  margin: 20px 0;
}
main h4 {
  text-align: center;
}
main .socials {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #000;
}
main .socials:hover,
main .socials:active {
  background-color: #c7c7c7;
}
main #or {
  font-size: 24px;
}
main p {
  text-align: center;
  margin-bottom: 0;
}
main form input {
  width: 500px;
  border-radius: 10px;
  border: 2px solid #2e2e2e;
}
main button {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  background-color: #4d4c4c;
  color: #d4d4d4;
}
