@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap'); // Jura font

* {
	// outline: 2px solid red;
}

body {
	background-color: #ffffff;
	color: #000000;
}

a,
a:hover,
a:visited
{
	text-decoration: underline;
	color: #000000
}

.container {
	margin-top: 100px;
}

main {
	height: fit-content;
	background-color: #ffffff;
	box-shadow: #00000033 0px 4px 16px;
	border-radius: 15px;
	padding: 60px 40px 40px;
	.row {
		margin: 20px 0;
	}

	h4 {text-align: center;}

	.socials {
		padding: 15px;
		border-radius: 15px;
		border: 2px solid #000;
	}

	.socials:hover,
	.socials:active {
		background-color: #c7c7c7;
	}
	
	#or {
		font-size: 24px;
	}

	p {
		text-align: center;
		margin-bottom: 0;
	}
	
	

	form input {
		width: 500px;
		border-radius: 10px;
		border: 2px solid #2e2e2e;
	}

	button {
		width: 180px;
		height: 40px;
		margin: 0 auto;
		border-radius: 25px;
		border: none;
		background-color: #4d4c4c;
		color: #d4d4d4;
	}
}

