@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); // Comfortaa font
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap'); // Jura font
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap'); // Manrope font

* {
	outline: 2px solid red;
}

body {
	background-color: #1f1f1f;
	color: #1f1f1f;
	font-family: "Comfortaa";
}

a,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.container {
	
	background-color: #f2f3f6;

	h1 {
		text-align: center;
		color: #c4c4c4;
	}

	input {
		width: 300px;
		border-radius: 15px;
	}
}

.choose {
	margin: 20px 0;
	border: 2px solid #be1e2d;
	border-radius: 10px;
}