@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v16/z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7auh.ttf) format('truetype');
}
body {
  background-color: #ffffff;
  color: #000000;
  height: 100wh;
}
.container {
  margin-top: 100px;
}
main {
  width: 600px;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: #00000033 0px 4px 16px;
  border-radius: 15px;
  padding: 60px 40px 40px;
}
main h4 {
  text-align: center;
}
main hr {
  margin: 10px 10px;
}
main p {
  text-align: center;
}
main input {
  width: 100%;
  border-radius: 10px;
}
