@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
    outline: 2px solid #fffb00;
}

body {
    font: 16px;
    color: #222222;
}

a,
a:visited
{
    text-decoration: none;
    color: #c4c4c4
}

a:hover {
    color: #00ff9d;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
}

/* Used for blocks to give them theese background colors/ Используется для блоков, чтобы задать им данные цвета фона */
.gray-bg {
    background-color: #1f1f1f;
}


/* Header styles / Стили хэдера */
header {
    position: sticky;
    top: 0;
    background: #030303;
}

header a {
    margin: 0 10px;
}

.nav .nav a:hover,
.nav .nav a:active {
    border-radius: 15px;
    background-color: #797979;
}

.dropdown-item {
    border-radius: 15px;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #d3d3d3;
    color: #000000;
    width: auto;
}


/* Description styles / Стили описания */
.descr {
    background: url(../backgrounds/description-bg\ —\ копия.png) 0px -250px fixed;
    background-size: cover;
    height: 400px;
}

.descr h1,
.descr h3,
.descr a {
    color: #9900ff;
    font-family: "Jura";
    font-weight: 300;
}

.descr a:hover, 
.descr a:active {
    color: #00ff00;
}

/* Gaming places' description styles / Стили описания игровых мест */
.pc img {
    width: auto;
}

.devices {
    height: auto;
    padding: 40px;
    background: url(../backgrounds/border.png) no-repeat top;
    background-size: 100% 100%;
    font: 20px "Jura";
}

.devices span {
    margin: 0 0 20px 20px;
}

.device-vip,
.device-common
{
    color: #00ff00;
    outline: 4px solid #00ff00;
    padding: 10px 20px;
    margin: 20px;
}


/* Feedback styles / Стили обратной связи */

/* Google maps */
.map {
    padding: 0;
}

.map iframe {
    height: 600px;
    width: 600px;
}

/* Form / Форма */
.feedback input {
    height: 40px;
    width: 150px;
    padding-left: 10px;
    background: #c4c4c4;
    border-radius: 35px;
    margin: 20px 10px;
    border: none;
}

.feedback textarea {
    min-height: 150px;
    max-height: 400px;
    width: 95%;
    background: #c4c4c4;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    margin: 10px;
    border: none;
}

.feedback button {
    height: 50px;
    width: 200px;
    font: "Jura";
    background-color: #00ffbf;
    border-radius: 35px;
    margin: 10px;
    border: none;
}