@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jura/v16/z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7auh.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v4/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FO_F.ttf) format('truetype');
}
body {
  font: 16px;
  color: #222222;
}
a,
a:visited {
  text-decoration: none;
  color: #c4c4c4;
}
a:hover {
  color: #00ff9d;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
/* Used for blocks to give them this background color
Используется для блоков, чтобы задать им данный цвет фона */
.gray-bg {
  background-color: #201e1e;
}
/* Header / Хэдер */
header {
  position: sticky;
  top: 0;
  background: #030303;
  opacity: 0.85;
  z-index: 1;
}
header a {
  margin: 0 10px;
}
.nav .nav > a:hover,
.nav .nav > a:active {
  color: #bbbbbb;
  border-radius: 15px;
  background-color: #313131;
}
.index {
  font: 600 30px "Segoe UI";
}
.index span {
  font-weight: 100;
}
.dropdown-menu li {
  /* Bootstrap class */
  border-radius: 15px;
}
.dropdown-menu .dropdown-item {
  /* Bootstrap class */
  color: #000000;
  width: 220px;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
  background-color: #d3d3d3;
  width: auto;
}
/* Description / Описание */
.descr {
  background-color: #aaaaaa;
  height: 350px;
}
.descr .row {
  margin: auto;
}
.descr a {
  font-weight: bold;
  text-decoration: underline;
}
.descr h1,
.descr h3,
.descr a {
  color: #000;
  font-family: "Jura";
  font-weight: 300;
}
/* Photos of the club / Фото клуба */
.gallery {
  font-family: "Jura";
  background-color: #cacaca;
  padding: 20px;
}
.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.gallery .col-4 {
  margin-top: 20px;
}
.gallery .col-4:first-child {
  padding-left: 0;
}
.gallery .col-4:last-child {
  padding-right: 0;
}
/* Icons of services / Иконки сервиса */
.stats {
  background-color: #181818;
  font-family: "Manrope";
  color: #c4c4c4;
  padding: 20px;
}
.stats div[class|="col"] {
  text-align: center;
}
.stats div[class|="col"] label {
  display: block;
}
/* Gaming space / Игровые места */
.pc img {
  width: auto;
}
.devices {
  height: fit-content;
  padding: 40px;
  background: url(../backgrounds/border.png) no-repeat top;
  background-size: 100% 100%;
  font: 20px "Jura";
  color: #f5f5f5;
}
.devices-list {
  margin: 20px;
  padding: 20px 20px 0px;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 10px;
}
.devices .vip {
  border-color: #be1e2d;
}
/* Price list / Прайслист */
.price {
  height: 600px;
  padding-bottom: 40px;
  background: url(../backgrounds/price-bg.jpg) no-repeat fixed;
  background-size: cover;
  font: 500 24px "Jura";
  color: #ff0000;
  text-align: center;
}
.price h1 {
  margin: 20px;
}
.price tr {
  width: fit-content;
  height: 60px;
  border-top: 4px solid #ececec;
  border-bottom: 4px solid #ececec;
}
.price td {
  width: 33%;
}
.price span {
  margin-left: 10px;
  font-weight: 1000;
}
.services {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #c4c4c4;
  background: url(../backgrounds/services.jpg) repeat-y bottom;
}
.services > div:first-child {
  text-align: center;
}
.services .row {
  margin-top: 40px;
}
.services .card {
  padding-top: 30px;
  height: 300px;
  border-radius: 5px;
  border: 2px solid #be1e2d;
  background-color: #3838385e;
}
.services .card-body {
  position: relative;
}
.services .btn {
  position: absolute;
  bottom: 40px;
  border: 2px solid #be1e2d;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: #c4c4c4;
  width: fit-content;
}
.services .btn:hover,
.services .btn:active {
  background: #1f1f1f;
  color: #c4c4c4;
}
/* News / Новости */
.news {
  background-color: #f2f3f6;
  font-family: "Manrope";
}
.news .row {
  padding: 20px;
}
.news h1 {
  margin-bottom: 20px;
  text-align: center;
}
.news img {
  height: auto;
  width: 100%;
}
.news .btn {
  border: 2px solid #be1e2d;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
  width: fit-content;
}
.news .btn:hover,
.news .btn:active {
  background: #1f1f1f;
  color: #c4c4c4;
}
/* Contacts / Контакты */
.info {
  height: 650px;
  padding: 40px;
  background: url(../backgrounds/map-bg.jpg) no-repeat top;
  background-size: cover;
  font-family: "Jura";
  color: #f5f5f5;
}
.info h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #ff0037;
}
.info span {
  font-size: 24px;
}
.info a {
  font-size: 20px;
  text-decoration: underline;
}
.info iframe {
  /* Google maps */
  height: 450px;
  width: 100%;
  border-radius: 5px;
}
/* Footer */
footer {
  color: #d4d4d4;
}
footer h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .contacts h5 {
  text-decoration: underline;
  font-family: "Jura";
  font-weight: 500;
}
footer .contacts div {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer .contacts div:last-child {
  margin-top: 100px;
}
footer a,
footer a:hover,
footer a:active {
  color: inherit;
}
footer form input,
footer form textarea,
footer form button {
  color: inherit;
  border: none;
  border-radius: 25px;
  background-color: #2e2e2e;
}
footer form input,
footer form textarea {
  width: 250px;
  height: 55px;
  padding: 15px 20px;
  margin: 10px 20px 10px 10px;
}
footer form button {
  width: 150px;
  height: 50px;
  border: 2px solid #be1e2d;
  color: inherit;
  margin: 20px 0;
}
.copyright {
  margin-top: 10px;
  text-align: center;
}
/* Makes enough space for content on mobiles / Делает достаточно места на мобильных */
@media (max-width: 720px) {
  .price,
  .info {
    height: fit-content;
  }
}
